@import '@fancyapps/ui/dist/fancybox/fancybox.css';

* {
  box-sizing: border-box;
}

:root {
  --fancybox-zIndex: 1350; /* To have a higher priority than Mui Dialog */
}

body {
  margin: 0;
}

.fancybox__backdrop {
  backdrop-filter: blur(8px);
}

.f-button-custom svg {
  --f-button-svg-fill: var(--f-button-color) !important;
  stroke: none !important;
}

@media screen and (max-width: 700px) {
  .fancybox__toolbar__column.is-middle {
    display: none;
  }
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}